{% extends 'main.html' %}
{% block content %}
<div class="row justify-content-center">
    
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">Delete Entry</div>
            <div class="card-body">
                <h5 class="card-title">Are you sure you want to delete patient information?</h5>
                <p class="card-text">Only delete patient entries if you have gotten permission to do so.</p>
                <form method="POST" action="" class="text-center">
                    {% csrf_token %}
                    <div class="form-group">
                        <a id="goBack" href="{{request.META.HTTP_REFERER}}"></a>
                        <button onclick="document.getElementById('goBack').click()" class="alert alert-success">Go Back</button>
                        <input type="submit" value="Confirm" class="alert alert-danger">
                    </div>
                </form>  
            </div>
        </div>
    
</div>
{% endblock content %}