{% extends 'main.html' %}

{% block content %}

<hr>
<h1>Patients Information</h1>
<div class="col">
<table style="width:100%" class="table-fit">
    <thead class="thead-dark">
        <tr>
          <th scope="col">Medical Id</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Gender</th>
          <th scope="col">DOB</th>
          <th scope="col">Age</th>
          <th scope="col">Race</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
          <th scope="col">Zip</th>
          <th scope="col">Email</th>
          <th scope="col">Maratial status</th>
          <th scope="col">SNN</th>
          <th scope="col">Preferred language</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
    {% for patient in patients %}
    
        <tr>
            <td>{{patient.0}}</td>
            <td>{{patient.1}}</td>
            <td>{{patient.2}}</td>
            <td>{{patient.3}}</td>
            <td>{{patient.4}}</td>
            <td>{{patient.5}}</td>
            <td>{{patient.6}}</td>
            <td>{{patient.7}}</td>
            <td>{{patient.8}}</td>
            <td>{{patient.9}}</td>
            <td>{{patient.10}}</td>
            <td>{{patient.11}}</td>
            <td>{{patient.12}}</td>
            <td>{{patient.13}}</td>
            <td>                
                <a href="{% url 'check_in_patient' %}" class="view" title="Click here to add check-in information" data-toggle="tooltip"><i class="fas fa-plus" style="color: #24a0ed;"></i></a>&nbsp;
                <a href="{% url 'update-patient' patient.0 %}" class="edit" title="Click here to edit" data-toggle="tooltip"><i class="fas fa-edit" style="color: green;"></i></a>&nbsp;
                <a href="{% url 'delete-patient' patient.0 %}" class="delete" title="Click here to delete" data-toggle="tooltip"><i class="fas fa-trash-alt" style="color: red;"></i></a>&nbsp;                
            </td>
        </tr>        
    {% endfor %}
</tbody>
</table>
</div>
<br>
<hr>
<h1>List of all visits to the clinic</h1>
<div class="col">
<table style="width:100%" class="table-fit">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Medical Id</th>
            <th scope="col">Patient name</th>
            <th scope="col">Status</th>
            <th scope="col">Date of visit</th>
            <th scope="col">Time</th>
            <th scope="col">Diagnoses</th>
            <th scope="col">Doctor name</th>
        </tr>
    </thead>
    <tbody>
       {% for visit in visits %}
        <tr>
            <td>{{visit.0}}</td>
            <td>{{visit.1}}</td>
            <td>{{visit.2}}</td>
            <td>{{visit.3}}</td>
            <td>{{visit.4}}</td>
            <td>{{visit.5}}</td>
            <td>{{visit.6}}</td>        
        </tr> 
    </tbody>
    
    {% endfor %}
  </table>
</div>
{% endblock content %}