{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div>
  <form method="POST" action="">
    {% csrf_token %}
    <!-- {{ form|crispy }} without style-->
    <div class="form-group col">
      <div class="form-row col">
        <div class="form-group col-md-6">
          {{ form.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
          {{ form.last_name|as_crispy_field }}
        </div>
      </div>
      <div class="form-row col">
        <div class="form-group col-md-6">
          {{ form.from_time|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
          {{ form.to_time|as_crispy_field }}
        </div>
      </div>
      <div class="form-row col">
        <div class="form-group col-md-6">
          {{ form.specialty|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
          {{ form.available|as_crispy_field }}
        </div>
      </div>
      <div class="form-row col">
        <div class="form-group col-md-12">
          {{ form.address|as_crispy_field }}
        </div>
      </div>
      <div class="form-row col">        
        <div class="form-group col-md-6">
          {{ form.zip_code|as_crispy_field }} 
        </div>
        <div class="form-group col-md-6">
          {{ form.phone|as_crispy_field }}
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <input type="submit" value="Submit" class="btn btn-outline-primary btn-lg btn-block">
        </div>
        <div class="col-md-4">
          <a href="{{request.META.HTTP_REFERER}}"><input type="button" value="Cancle"
              class="btn btn-outline-secondary btn-lg btn-block" /></a>
        </div>
      </div>

  </form>
</div>
{% endblock content %}